<!DOCTYPE html>
<html>
<head>
  <title>Goodfoodhunting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  logged in as <%= current_user.email %>
  <%= form_tag '/logout', :method => :delete do %>
    <button>logout</button>
  <% end %>
<% else %>
  <%= link_to('login', login_path) %>
<% end %>

<%= link_to 'dishes', root_path %>  

<%= yield %>

</body>
</html>
