<%= form_for @dish do |f| %>

<p>
  <label for="">title</label>
  <%= f.text_field :title %>
</p>
<p>
  <label for="">upload file</label>
  <%= f.file_field :photo %>
</p>
<p>
  <label for="">remote photo url</label>
  <%= f.text_field :remote_photo_url %>
</p>


<p>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
</p>
<p>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
</p>
  <%= f.submit %>
<% end %>